<div class="post">
    <div class="edit">
        <img src="../../../../assets/icons/file-edit.png" alt="">
    </div>

    <div class="identity">
        <div class="profile-image">
            <img src="../../../../assets/profile_pictures/test_pp.jpg" alt="" srcset="">
        </div>
        <div class="name-and-date">
            <h1>{{ data.postAuthor.firstName }} {{ data.postAuthor.lastName }} <span id="post-user-icon"><img src="../../../../assets/icons/user.png" alt=""></span></h1>
            <p><a href="#">{{ data.date }}</a></p>
        </div>
        
    </div>
    <div class="message-wrapper">
        <p id="message" title="Read post" #postMessage (click)="notifyParents()">{{ data.postMessage }}</p>
    </div>
    <!-- <hr/> -->
    <div class="interaction">
        <div class="vote">
            <div class="votes-wrap">
                <img src="../../../../assets/icons/up.png" alt="" id="upVoteImg" (click)="upVote()">
                <span id="votes">{{ data.upVotes - data.downVotes }}</span>
                <img src="../../../../assets/icons/down.png" id="downVoteImg" alt="" (click)="downVote()">
            </div>
        </div>

        <div class="comment">
            <div class="comment-wrap">
                <img src="../../../../assets/icons/comment-dots.png" alt="" srcset="">
                <span id="comments">Comment</span>
            </div>
        </div>

        <div class="save">
            <div class="save-wrap">
                <img src="../../../../assets/icons/bookmark.png" alt="" srcset="">
                <span id="save">Save</span>
            </div>
        </div>
    </div>
    <!-- <hr/> -->

    <div class="write-comment">
        <div class="profile-image">
            <img src="../../../../assets/profile_pictures/test_pp.jpg" alt="" srcset="">
        </div>
        <!-- <app-input-box placeholder="Write a comment" [styleObj]="inputStyle"></app-input-box> -->
        <input type="text" placeholder="Write a comment" class="write-comment-input" id="{{ data.postId }}" #commentInput>
        <app-button *ngIf="isLoading" name="Loading" id="send-btn"></app-button>
        <app-button *ngIf="!isLoading" name="Send" id="send-btn" (click)="createComment(data.postId, commentInput.value)" #sendBtn></app-button>
    </div>
</div>
