.identity img {
    width: 70px;
    height: 50px;
}

.identity {
    display: flex;
    /* align-items: center;   */
    /* justify-content: center; */
}

.identity h1 {
    margin-bottom: -25px;
}

.identity p {
    color: rgb(122, 122, 122);
    font-weight: lighter;
}

.name-and-date a {
    text-decoration: none;
    color: rgb(122, 122, 122);
}

.profile-image {
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

/* .profile-image img {
    width: 70px;
    width: 50px;
} */

.post {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    padding: 40px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    position: relative;
    background-color: white;
    margin-bottom: 30px;
}

#message {
    font-size: 28px;
    font-weight: -100;
}

#message:hover {
    cursor: pointer;
}

#post-user-icon img {
    width: 20px;
    height: 20px;
}

.post p {
    margin-top: 30px;
    margin-bottom: 30px;
    /* width: 100%; */
}

.post p:hover {
    background-color: rgb(240, 239, 239);
    border-radius: 8px;
    padding: 12px;
    transition: .3s;
}

.interaction {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.interaction img {
    width: 13px;
    height: 13px;
}

.interaction #votes {
    margin-left: 7px;
    margin-right: 7px;
}

.interaction #comments {
    margin-left: 7px;
}

#save {
    margin-left: 7px;
}

.votes-wrap {
    margin: 0 auto 0 auto;
    width: fit-content;
}

.comment-wrap {
    margin: 0 auto 0 auto;
    width: fit-content;
}

.comment-wrap:hover {
    cursor: pointer;
}

.save-wrap {
    margin: 0 auto 0 auto;
    width: fit-content;
}

.write-comment {
    display: flex;
    margin-top: 20px;
}

#upVoteImg {
    cursor: pointer;
}

#downVoteImg {
    cursor: pointer;
}


.edit {
    width: fit-content;
    position: absolute;
    right: 40px;
}

.edit img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


app-button {
    margin-left: 15px;
}

.write-comment-input {
    /* margin-left: 5px; */
    width: 300px;
    background-color: rgb(234, 233, 233);
    border-radius: 50px;
    padding: 10px;
    outline: none;
    border: none;
    padding-left: 20px;
}

#send-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    
}