<div class="feed-wrapper">
    <section id="personal">
        <div class="profile">
            <div class="picture">
                <img src="../../../../assets/profile_pictures/test_pp.jpg" alt="" srcset="">
            </div>
            <div class="name">Onodwa Siyotula</div>
        </div>
    </section>
    
    <section id="posts">
        <app-post></app-post>
        <app-post></app-post>
    </section>
    
    <section id="requests">
        <h3>Friend requests</h3>
    </section>    
</div>
